/* employee.component.css */
.dropdown-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dropdown-container .form-control {
  width: 400px; /* Atur lebar dropdown sesuai kebutuhan */
}

.card-header {
  background-color: #007bff;
  color: black;
  padding: 10px;
}

.card-title {
  margin: 0;
}

.dropdown-container .form-control {
  width: auto;
}

.table-responsive {
  margin-top: 20px;
}

#workLogTable {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

#workLogTable th,
#workLogTable td {
  padding: 12px 15px !important;
  border: 1px solid #ddd !important;
  color: black !important; /* Warna teks hitam */
}

#workLogTable thead {
  background-color: white !important; /* Warna latar belakang putih */
  color: black !important; /* Warna teks hitam */
}

#workLogTable tbody tr:nth-child(even) {
  background-color: #f2f2f2 !important;
}

#workLogTable tbody tr:hover {
  background-color: #ddd !important;
}

#workLogTable th {
  text-align: left;
}

#workLogTable .actions {
  text-align: center;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s linear infinite;
}

.badge {
  display: inline-block;
  padding: 0.5em 0.75em;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge-warning {
  background-color: #ffc107; /* Warna kuning */
  color: #212529; /* Warna teks */
  animation: blink 1.5s linear infinite; /* Tambahkan animasi blink */
}

.badge-success {
  background-color: #28a745; /* Warna hijau */
  color: #fff; /* Warna teks */
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.filter-section {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.filter-section .mr-2 {
  margin-right: 10px;
}

#startDate,
#endDate {
  width: 100%;
}

#filterButton {
  margin-top: 24px; /* Sesuaikan agar tidak terlalu dekat dengan elemen lainnya */
}
